<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Главная страница | ThermoBlock</title>
    <meta
      name="description"
      content="Строительные термоблоки, дома из термоблоков"
    />
    <meta
      name="keywords"
      content="термоблок, теплый дом, энергоэффективный дом"
    />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Arimo:400,700|Roboto:400,700|Oswald:300,400|PT+Sans+Narrow"
      rel="stylesheet"
    />
    <link href="css/header.css" rel="stylesheet" />
    <link href="css/adaptive.css" rel="stylesheet" />
</head>
  <body>
    <header class="header" id="top">
      <div class="header__logo">
        <a href="/">
          <img src="img/logo.png" alt="logo thermoblock" class="header__img" />
        </a>
      </div>
      <div class="header__center">
        <h1 class="header__top">
            <img src="img/logo.png" class="header__top-img"/> <span class="brend">ThermoBlock</span> - термоблоки для энергоэффективных зданий</h1>
        <div class="header__down">
            <div class="header__address">
                <div class="address">
                  <p class="address__title">
                    <i class="fa fa-map-marker icon"></i>
                    Адреса офисов
                  </p>
                  <ul class="address__list">
                    <li class="address__item">
                      <a
                        href="https://2gis.ru/ulanude/firm/70000001040689171"
                        class="address__link"
                        target="_blank"
                        >г. Улан-Удэ, ул. Н.Петрова 70, офис 309, "Бизнес Лайф"</a
                      >
                    </li>
                    <li class="address__item">
                      <a
                        href="https://2gis.ru/ulanude/branches/70000001022197324/firm/70000001043408476/107.697289%2C51.839616?m=107.697289%2C51.839616%2F16"
                        class="address__link"
                        target="_blank"
                        >г. Улан-Удэ, ул. Николая Нищенко 19а</a
                      >
                    </li>
                  </ul>
                </div>
            </div>
            <div class="header__phone">
                <div class="phone">
                  <p class="phone__title">
                    <i class="fa fa-phone icon"></i>
                    Телефоны
                  </p>
                  <ul class="phone__list">
                    <li class="phone__item">
                      <a href="tel: +73012206320" class="phone__link"
                        >+7 (3012) 206320</a
                      >
                    </li>
                    <li class="phone__item">
                      <a href="tel: +73012392848" class="phone__link"
                        >+7 (3012) 392848</a
                      >
                    </li>
                    <li class="phone__item">
                      <a href="tel: +73012392868" class="phone__link"
                        >+7 (3012) 392868</a
                      >
                    </li>
                  </ul>
                </div>
            </div>
        </div>
        
      </div>
      <div class="header__buttons">
        <div class="buttons">
          <button class="feedback-btn">Обратная связь</button>
          <div class="icons">
            <div class="icons__item">
              <a
                href="https://www.instagram.com/thermoblock03/"
                class="icon_white"
                target="_blank"
                ><i class="fa fa-instagram"></i
              ></a>
            </div>
            <div class="icons__item">
              <a
                href="https://ok.ru/group/57676644155440"
                class="icon_white"
                target="_blank"
                ><i class="fa fa-odnoklassniki-square"></i
              ></a>
            </div>
            <div class="icons__item">
              <a
                href="https://www.youtube.com/channel/UCu5c3oxdMWvgyRwli_pokkw"
                class="icon_white"
                target="_blank"
                ><i class="fa fa-youtube-square"></i
              ></a>
            </div>
            <div class="icons__item">
              <a
                href="https://vk.com/club116450358"
                class="icon_white"
                target="_blank"
                ><i class="fa fa-vk"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <nav class="mainnav" id="mainmenu">
        <!-- <ul class="menu">
            <li class="menu__item">
                <a class="menu__link active" href="#products">Продукция <span class="sr-only">(текущий)</span></a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#properties">Приемущества</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#building">Строительство</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#portfolio">Наши дома</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#projects">Проекты</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#about">О нас</a>
            </li>
        </ul> -->
        <a href="#top" id="back-to-top" class="mainnav__link back-to-top" title="Back to top">▲</a>
        <a class="mainnav__link active" href="#products">Продукция <span class="sr-only">(текущий)</span></a>
        <a class="mainnav__link" href="#properties">Приемущества</a>
        <a class="mainnav__link" href="#building">Строительство</a>
        <a class="mainnav__link" href="#portfolio">Наши дома</a>
        <a class="mainnav__link" href="#projects">Проекты</a>
        <a class="mainnav__link" href="#about">О нас</a>
    </nav>
    <section id="products">
        <h2 class="products__title">Основные виды продукции ThermoBlock</h2>
        <div class="cards">
            <div class="card">
                <h3 href="#" class="card__title">
                    Термоблок ТБ400
                </h3>
                <div class="card__top">
                    <a href="#" class="card__image">
                        <img
                        src="img_blocks/tb400.png"
                        alt="Термоблок ТБ400"
                        />
                    </a>
                </div>
                <div class="card__bottom">
                    <p class="card__text">
                        Стеновой (рядовой) блок из серии термоблок 400. Предназначен для строительства энергоэффективных домов толщиной 400 мм.
                    </p>
                    <button class="card__add">Подробнее</button>
                </div>
            </div>
            <div class="card">
                <h3 href="#" class="card__title">
                    Термоблок ТБУ400
                </h3>
                <div class="card__top">
                    <a href="#" class="card__image">
                        <img
                        src="img_blocks/tbu400.png"
                        alt="Термоблок ТБУ400"
                        />
                    </a>
                </div>
                <div class="card__bottom">
                    <p class="card__text">
                        Угловой блок из серии термоблок 400. Предназначен для строительства энергоэффективных домов толщиной 400 мм.
                    </p>
                    <button class="card__add">Подробнее</button>
                </div>
            </div>
            <div class="card">
                <h3 href="#" class="card__title">
                    Термоблок ТБ300
                </h3>
                <div class="card__top">
                    <a href="#" class="card__image">
                        <img
                        src="img_blocks/tb300.png"
                        alt="Термоблок ТБ300"
                        />
                    </a>
                </div>
                <div class="card__bottom">
                    <p class="card__text">
                        Стеновой (рядовой) блок из серии термоблок 300. Предназначен для строительства энергоэффективных домов толщиной 300 мм.
                    </p>
                    <button class="card__add">Подробнее</button>
                </div>
            </div>
            <div class="card">
                <h3 href="#" class="card__title">
                    Термоблок ТБУ300
                </h3>
                <div class="card__top">
                    <a href="#" class="card__image">
                        <img
                        src="img_blocks/tbu300_m.png"
                        alt="Термоблок ТБУ300"
                        />
                    </a>
                </div>
                <div class="card__bottom">
                    <p class="card__text">
                        Стеновой (рядовой) блок из серии термоблок 300. Предназначен для строительства энергоэффективных домов толщиной 300 мм.
                    </p>
                    <button class="card__add">Подробнее</button>
                </div>
            </div>
            <div class="card">
                <h3 href="#" class="card__title">
                    Термоблок ПБ100
                </h3>
                <div class="card__top">
                    <a href="#" class="card__image">
                        <img
                        src="img_blocks/pb100_mv2.png"
                        alt="Термоблок ПБ100"
                        />
                    </a>
                </div>
                <div class="card__bottom">
                    <p class="card__text">
                        Рядовой блок для внутренних несущих и ненесущих перегородок и стен толщиной 100 мм.
                    </p>
                    <button class="card__add">Подробнее</button>
                </div>
            </div>
            <div class="card">
                <h3 href="#" class="card__title">
                    Термоблок ПБ200
                </h3>
                <div class="card__top">
                    <a href="#" class="card__image">
                        <img
                        src="img_blocks/PB200_m.png"
                        alt="Термоблок ПБ200"
                        />
                    </a>
                </div>
                <div class="card__bottom">
                    <p class="card__text">
                        Рядовой блок для внутренних несущих и ненесущих перегородок и стен толщиной 200 мм.
                    </p>
                    <button class="card__add">Подробнее</button>
                </div>
            </div>
        </div>
        
        
    </section>
    <section id="properties">
        <h2 class="properties__title">Приемущества ThermoBlock</h2>
        <h3 class="properties__subtitle">Основные характеристики строительного термоблока, подтвержденные <b>испытаниями</b>.</h3>
        <ul class="cards">
            <li class="card">
                <h4 class="card__title">Эффективная теплоизоляция</h4>
                <div class="card__top">
                    <a href="#" class="card__image">
                        <img src="img_blocks/temp.png"
                    alt="Термоблок - эффективная теплоизоляция" class="properties__img">
                    </a>
                </div>
                <div class="card__bottom">
                    <p class="card__text">
                        Эффективная теплоизоляция и способность сохранять тепло являются самым главным преимуществом
                            ThermoBlock дома сохраняют тепло зимой и дарят приятную прохладу летом. Благодаря своей
                            массивной конструкции дом потребляет мало энергии и проживание в таком доме очень
                            экономично. Особенностью блока и технология строительства полностью исключают образование
                            мостов холода.
                    </p>
                    <button class="card__add">Подробнее</button>
                </div>
                
            </li>
            <li class="card">
                <h4 class="card__title">Высокая прочность</h4>
                <div class="card__top">
                    <a href="#" class="card__image">
                        <img src="img_blocks/seism.png"
                        alt="Термоблок - высокая сейсмичная устойчивость" class="properties__img">
                    </a>
                </div>
                <div class="card__bottom">
                    <p class="card__text">
                        ThermoBlock высокопрочный материал. Сооружения из блоков выдерживают сейсмическую нагрузку
                            8-9 баллов. С течением времени такой дом только повышает свои качественные показатели.
                            Надежность, прочность и массивность этих блоков делает их идеальным выбором для
                            строительства дома на века.
                    </p>
                    <button class="card__add">Подробнее</button>
                </div>
            </li>
            <li class="card">
                <h4 class="card__title">Быстрота и простота возведения</h4>
                <div class="card__top">
                    <a href="#" class="card__image">
                        <img src="img_blocks/sroki.png"
                    alt="Термоблок - быстрота и простота возведения" class="properties__img">
                    </a>
                </div>
                <div class="card__bottom">
                    <p class="card__text">
                        Технология строительства продумана до мелочей. Легкая приспособляемость к этапам выполняемых
                            работ. Готовые рядовые и угловые элементы значительно упрощают работу строителей и сокращают
                            общие сроки строительства. В среднем возведение дома в 200м2 занимает 1-2 месяца (с учетом
                            устройства фундамента). Благодаря конструкции блоков, имеющих заливочные полости, монтаж
                            труб и кабелей в стенах, а также установка розеток и других элементов не представляет
                            сложности.
                    </p>
                    <button class="card__add">Подробнее</button>
                </div>
                
                
            </li>
        </ul>
    </section>
    <section id="building">
        <h2 class="building__title">Строительство из ThermoBlock</h2>
        <h3 class="building__subtitle">Особенности и технология строительства из термоблоков</h3>
        <div class="building__cards">
            <div class="buildingCard">
                <h4 class="buildingCard__title">Индивидуальное строительство</h4>
                <div class="buildingCard__top">
                    <a href="#" class="buildingCard__image">
                        <img src="img_building/home_1.jpg"
                    alt="Жилой индивидуальный дом из термоблока г. Улан-Удэ ул. Петрова" class="img-fluid" />
                    </a>
                </div>
                <div class="buildingCard__buttom">
                    <p class="buildingCard__text">Из <strong class="brend">"Thermoblock"</strong> можно реализовать любой проект, даже если проект готовился под другие строительные материалы</p>
                    <h5 class="buildingCard__subtitle">ПРЕИМУЩЕСТВА СТРОИТЕЛЬСТВА</h5>
                    <ul class="buildingCard__list">
                        <li>более быстрое строительство, чем из других материалов;
                        </li>
                        <li>дом из "Thermoblock" сможет построить даже человек без специальной подготовки;</li>
                        <li>минимум рабочих на стройке, 3-4 человека;</li>
                        <li>легко проводить финишную отделку;</li>
                        <li>минимум затрат на отопление.</li>
                    </ul>
                </div>
            </div>
            <div class="buildingCard">
                <h4 class="buildingCard__title">Коммерческое строительство</h4>
                <div class="buildingCard__top">
                    <a href="#" class="buildingCard__image">
                        <img src="img_building/office_3.jpg"
                    alt="Офисное здание из термоблока г. Улан-Удэ"/>
                    </a>
                </div>
                <div class="buildingCard__buttom">
                    <p class="buildingCard__text"><strong class="brend">ThermoBlock</strong> подходит для строительства торговых центров, магазинов,
                        ресторанов, многоквартирных жилых домов, гостиниц, СТО, общежитий, складов,
                        производственных помещений.</p>
                    <h5 class="buildingCard__subtitle">ПРЕИМУЩЕСТВА СТРОИТЕЛЬСТВА</h5>
                    <ul class="buildingCard__list">
                        <li>короткие сроки строительства;</li>
                        <li>бесперебойная поставка блоков в любых объемах;</li>
                        <li>не нужна тяжелая спецтехника;</li>
                        <li>стены не нужно утеплять и штукатурить;</li>
                        <li>легко проводить финишную отделку;</li>
                        <li>минимум затрат на отопление.</li>
                    </ul>
                </div>
            </div>
        </div>
        
    </section>
    <section id="portfolio">
        <h2 class="portfolio__title">Построенные дома из <span class="brend">"ThermoBlock"</span></h2>
        <h3 class="portfolio__subtitle">Галерея домов построенных из термоблока.</h3>
        <p><a href="#">Построй свой энергоэффективный, надежный, сейсмоустойчивый, экологичный и технологичный дом из термоблока!</a></p>
        <div class="gallery">
            <div class="gallery__item">
                <a href="img_building/office_3.jpg">
                    <img
                        src="img_building/office_3.jpg"
                        class="img-fluid"
                        alt="Офис в г. Улан-Удэ ул. Николая Петрова">
                </a>
                <h4 class="gallery__title">г. Улан-Удэ, Верхняя Березовка</h4>
                <div class="gallery__overlay"></div>
                <div class="gallery__button"><a href="#">ПОДРОБНЕЕ</a></div>
            </div>
            <div class="gallery__item">
                <a href="img_building/home1_2.jpg">
                    <img
                        src="img_building/home1_2.jpg"
                        class="img-fluid"
                        alt="Офис в г. Улан-Удэ ул. Николая Петрова">
                </a>
                <h4 class="gallery__title">г. Улан-Удэ, Верхняя Березовка</h4>
                <div class="gallery__overlay"></div>
                <div class="gallery__button"><a href="#">ПОДРОБНЕЕ</a></div>
            </div>
            <div class="gallery__item">
                <a href="img_building/home1_1.jpg">
                    <img
                        src="img_building/home1_1.jpg"
                        class="img-fluid"
                        alt="Офис в г. Улан-Удэ ул. Николая Петрова">
                </a>
                <h4 class="gallery__title">г. Улан-Удэ, Верхняя Березовка</h4>
                <div class="gallery__overlay"></div>
                <div class="gallery__button"><a href="#">ПОДРОБНЕЕ</a></div>
            </div>
            <div class="gallery__item">
                <a href="img_building/home1_4.jpg">
                    <img
                        src="img_building/home1_4.jpg"
                        class="img-fluid"
                        alt="Офис в г. Улан-Удэ ул. Николая Петрова">
                </a>
                <h4 class="gallery__title">г. Улан-Удэ, Верхняя Березовка</h4>
                <div class="gallery__overlay"></div>
                <div class="gallery__button"><a href="#">ПОДРОБНЕЕ</a></div>
            </div>
            <div class="gallery__item">
                <a href="img_building/home1_5.jpg">
                    <img
                        src="img_building/home1_5.jpg"
                        class="img-fluid"
                        alt="Офис в г. Улан-Удэ ул. Николая Петрова">
                </a>
                <h4 class="gallery__title">г. Улан-Удэ, Верхняя Березовка</h4>
                <div class="gallery__overlay"></div>
                <div class="gallery__button"><a href="#">ПОДРОБНЕЕ</a></div>
            </div>
            <div class="gallery__item">
                <a href="img_building/home_1.jpg">
                    <img
                        src="img_building/home_1.jpg"
                        class="img-fluid"
                        alt="Офис в г. Улан-Удэ ул. Николая Петрова">
                </a>
                <h4 class="gallery__title">г. Улан-Удэ, Верхняя Березовка</h4>
                <div class="gallery__overlay"></div>
                <div class="gallery__button"><a href="#">ПОДРОБНЕЕ</a></div>
            </div>
            <div class="gallery__item">
                <a href="img_building/home2_3.jpg">
                    <img
                        src="img_building/home2_3.jpg"
                        class="img-fluid"
                        alt="Офис в г. Улан-Удэ ул. Николая Петрова">
                </a>
                <h4 class="gallery__title">г. Улан-Удэ, Верхняя Березовка</h4>
                <div class="gallery__overlay"></div>
                <div class="gallery__button"><a href="#">ПОДРОБНЕЕ</a></div>
            </div>
            <div class="gallery__item">
                <a href="img_building/office_1.jpg">
                    <img
                        src="img_building/office_1.jpg"
                        class="img-fluid"
                        alt="Офис в г. Улан-Удэ ул. Николая Петрова">
                </a>
                <h4 class="gallery__title">г. Улан-Удэ, Верхняя Березовка</h4>
                <div class="gallery__overlay"></div>
                <div class="gallery__button"><a href="#">ПОДРОБНЕЕ</a></div>
            </div>
            <div class="gallery__item">
                <a href="img_building/office_2.jpg">
                    <img
                        src="img_building/office_2.jpg"
                        class="img-fluid"
                        alt="Офис в г. Улан-Удэ ул. Николая Петрова">
                </a>
                <h4 class="gallery__title">г. Улан-Удэ, Верхняя Березовка</h4>
                <div class="gallery__overlay"></div>
                <div class="gallery__button"><a href="#">ПОДРОБНЕЕ</a></div>
            </div>
            <div class="gallery__item">
                <a href="img_building/office_4.jpg">
                    <img
                        src="img_building/office_4.jpg"
                        class="img-fluid"
                        alt="Офис в г. Улан-Удэ ул. Николая Петрова">
                </a>
                <h4 class="gallery__title">г. Улан-Удэ, Верхняя Березовка</h4>
                <div class="gallery__overlay"></div>
                <div class="gallery__button"><a href="#">ПОДРОБНЕЕ</a></div>
            </div>
        </div>
        <div class="attraction">
            <ul class="btn_wrapper">
                <li><button>Оценить свой дом</button></li>
                <li>Построй свой дом сам</li>
                <li><button>Оцени количество блоков на свой дом</button></li>
                <li>Строй дом сам соблюдая <a href="instrukcziya/index.html" class="btn">Инструкция по производству работ из теплоизоляционных блоков ThermoBlock</a></li>
                <div class="btn_text">
                </div>
            </ul>
        </div>
    </section>
    <section id="projects" class="project">
        <h2 class="portfolio__title">Типовые проекты домов из <span class="brend">"ThermoBlock"</span></h2>
        <h3 class="portfolio__subtitle">Выберите или создайте свой проект энергоэффективного дома</h3>
        <p><a href="#">Наш проектный центр создаст полный проект вашего дома с 3D визуализацией, сметой и поможет с оформлением ипотеки технологичный дом из термоблока!</a></p>
        <div class="projects__cards">
            <div class="projectCard">
                <h4 class="projectCard__title">Жилой дом 6х7,2 из термоблока ТБ300</h4>
                <div class="projectCard__top">
                    <a href="#" class="projectCard__image">
                        <img src="img_project/house_6_7_2_tb300.jpg"
                    alt="Жилой дом 6х7,2 из термоблока ТБ300" class="img-fluid" />
                    </a>
                </div>
                <div class="projectCard__buttom">
                   
                    <button class="projectCard__subtitle">ПОДРОБНЕЕ</button>
                    <ul class="projectCard__list">
                        <li>Рядный блок ТБ300 - 19 поддонов (760 термоблоков)
                        </li>
                        <li>Угловой блок ТБУ300 - 60 термоблоков</li>
                        <li>Перегородочный блок ПБ200 - 3 поддона (120 штук)</li>
                        <li>Перегородочный блок ПБ100  - 110 штук.</li>
                    </ul>
                </div>
            </div>
            <div class="projectCard">
                <h4 class="projectCard__title">Жилой дом 6х7,2 из термоблока ТБ300</h4>
                <div class="projectCard__top">
                    <a href="#" class="projectCard__image">
                        <img src="img_project/house_6_7_2_tb300.jpg"
                    alt="Жилой дом 6х7,2 из термоблока ТБ300" class="img-fluid" />
                    </a>
                </div>
                <div class="projectCard__buttom">
                   
                    <button class="projectCard__subtitle">ПОДРОБНЕЕ</button>
                    <ul class="projectCard__list">
                        <li>Рядный блок ТБ300 - 19 поддонов (760 термоблоков)
                        </li>
                        <li>Угловой блок ТБУ300 - 60 термоблоков</li>
                        <li>Перегородочный блок ПБ200 - 3 поддона (120 штук)</li>
                        <li>Перегородочный блок ПБ100  - 110 штук.</li>
                    </ul>
                </div>
            </div>
            <div class="projectCard">
                <h4 class="projectCard__title">Жилой дом 6х7,2 из термоблока ТБ300</h4>
                <div class="projectCard__top">
                    <a href="#" class="projectCard__image">
                        <img src="img_project/house_6_7_2_tb300.jpg"
                    alt="Жилой дом 6х7,2 из термоблока ТБ300" class="img-fluid" />
                    </a>
                </div>
                <div class="projectCard__buttom">
                   
                    <button class="projectCard__subtitle">ПОДРОБНЕЕ</button>
                    <ul class="projectCard__list">
                        <li>Рядный блок ТБ300 - 19 поддонов (760 термоблоков)
                        </li>
                        <li>Угловой блок ТБУ300 - 60 термоблоков</li>
                        <li>Перегородочный блок ПБ200 - 3 поддона (120 штук)</li>
                        <li>Перегородочный блок ПБ100  - 110 штук.</li>
                    </ul>
                </div>
            </div>
            <div class="projectCard">
                <h4 class="projectCard__title">Жилой дом 6х7,2 из термоблока ТБ300</h4>
                <div class="projectCard__top">
                    <a href="#" class="projectCard__image">
                        <img src="img_project/house_6_7_2_tb300.jpg"
                    alt="Жилой дом 6х7,2 из термоблока ТБ300" class="img-fluid" />
                    </a>
                </div>
                <div class="projectCard__buttom">
                   
                    <button class="projectCard__subtitle">ПОДРОБНЕЕ</button>
                    <ul class="projectCard__list">
                        <li>Рядный блок ТБ300 - 19 поддонов (760 термоблоков)
                        </li>
                        <li>Угловой блок ТБУ300 - 60 термоблоков</li>
                        <li>Перегородочный блок ПБ200 - 3 поддона (120 штук)</li>
                        <li>Перегородочный блок ПБ100  - 110 штук.</li>
                    </ul>
                </div>
            </div>
            <div class="projectCard">
                <h4 class="projectCard__title">Жилой дом 6х7,2 из термоблока ТБ300</h4>
                <div class="projectCard__top">
                    <a href="#" class="projectCard__image">
                        <img src="img_project/house_6_7_2_tb300.jpg"
                    alt="Жилой дом 6х7,2 из термоблока ТБ300" class="img-fluid" />
                    </a>
                </div>
                <div class="projectCard__buttom">
                   
                    <button class="projectCard__subtitle">ПОДРОБНЕЕ</button>
                    <ul class="projectCard__list">
                        <li>Рядный блок ТБ300 - 19 поддонов (760 термоблоков)
                        </li>
                        <li>Угловой блок ТБУ300 - 60 термоблоков</li>
                        <li>Перегородочный блок ПБ200 - 3 поддона (120 штук)</li>
                        <li>Перегородочный блок ПБ100  - 110 штук.</li>
                    </ul>
                </div>
            </div>
            <div class="projectCard">
                <h4 class="projectCard__title">Жилой дом 6х7,2 из термоблока ТБ300</h4>
                <div class="projectCard__top">
                    <a href="#" class="projectCard__image">
                        <img src="img_project/house_6_7_2_tb300.jpg"
                    alt="Жилой дом 6х7,2 из термоблока ТБ300" class="img-fluid" />
                    </a>
                </div>
                <div class="projectCard__buttom">
                   
                    <button class="projectCard__subtitle">ПОДРОБНЕЕ</button>
                    <ul class="projectCard__list">
                        <li>Рядный блок ТБ300 - 19 поддонов (760 термоблоков)
                        </li>
                        <li>Угловой блок ТБУ300 - 60 термоблоков</li>
                        <li>Перегородочный блок ПБ200 - 3 поддона (120 штук)</li>
                        <li>Перегородочный блок ПБ100  - 110 штук.</li>
                    </ul>
                </div>
            </div>
            <div class="projectCard">
                <h4 class="projectCard__title">Жилой дом 6х7,2 из термоблока ТБ300</h4>
                <div class="projectCard__top">
                    <a href="#" class="projectCard__image">
                        <img src="img_project/house_6_7_2_tb300.jpg"
                    alt="Жилой дом 6х7,2 из термоблока ТБ300" class="img-fluid" />
                    </a>
                </div>
                <div class="projectCard__buttom">
                   
                    <button class="projectCard__subtitle">ПОДРОБНЕЕ</button>
                    <ul class="projectCard__list">
                        <li>Рядный блок ТБ300 - 19 поддонов (760 термоблоков)
                        </li>
                        <li>Угловой блок ТБУ300 - 60 термоблоков</li>
                        <li>Перегородочный блок ПБ200 - 3 поддона (120 штук)</li>
                        <li>Перегородочный блок ПБ100  - 110 штук.</li>
                    </ul>
                </div>
            </div>
        </div>
        <button id="left">влево</button><button id="right">вправо</button>
    </section>
    <section id="about">
        <h2 class="portfolio__title">О нас<span class="brend">"ThermoBlock"</span></h2>
        <h3 class="portfolio__subtitle">ООО "Стройтех" молодая, высокотехнологичная, динамично развивающаяся компания</h3>
        <p><a href="#">Приглашаем к сотрудничеству проектировщиков, застройщиков и всех прогрессивных.</a></p>
        <div class="cards">
            <div class="card">
                <h3 href="#" class="card__title">
                    Производство Thermoblock
                </h3>
                <div class="card__top">
                    <a href="#" class="card__image">
                        <img
                        src="img_about/thermoblock_stock.jpg"
                        alt="Склад Термоблоков"
                        />
                    </a>
                </div>
                <div class="card__bottom">
                    <p class="card__text">
                        Мы разработали и развиваем собственную конвеерную цепочку изготовления термоблоков. С собственными станками. Полное импортозамещение.
                    </p>
                    <button class="card__add">Подробнее</button>
                </div>
            </div>
            <div class="card">
                <h3 href="#" class="card__title">
                    Наши достижения
                </h3>
                <div class="card__top">
                    <a href="#" class="card__image">
                        <img
                        src="img_about/about.jpg"
                        alt="фирма Thermoblock"
                        />
                    </a>
                </div>
                <div class="card__bottom">
                    <p class="card__text">
                        У нас богатый опыт в проектировании, строительстве не только энергоэффективных домов, но и собственных промышленных установок.
                    </p>
                    <button class="card__add">Подробнее</button>
                </div>
            </div>
            <div class="card">
                <h3 href="#" class="card__title">
                    Вакансии
                </h3>
                <div class="card__top">
                    <a href="#" class="card__image">
                        <img
                        src="img_about/vakants.jpg"
                        alt="Директор thermoblock"
                        />
                    </a>
                </div>
                <div class="card__bottom">
                    <p class="card__text">
                        Мы ценим труд наших сотрудников, стараемся сделать достойные условия труда, автоматизировать и минимизировать нагрузку. Приглашаем разнорабочих, сварщиков, проектировщиков, специалистов по автоматизации
                    </p>
                    <button class="card__add">Подробнее</button>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer__top">
            <h2 class="title">Контакты ThermoBlock</h2>
            <div class="footer__wrapper">
                <div class="footer__item">
                    <div class="icon"><i class="fa fa-map-marker"></i></div>
                    <div class="height_control">
                        <h3 class="top">Адреса офисов</h3>
                        <div class="text">Улан-Удэ, Н.Петрова 70 офис 309, "Бизнес Лайф"</div>
                    </div>
                    <a href="partneram.html" class="action">Смотреть на карте</a>
                </div>
                <div class="footer__item">
                    <div class="icon"><i class="fa fa-phone-square"></i></div>
                    <div class="height_control">
                        <div class="top">Телефоны для связи</div>
                        <a href="tel:" class="phone"></a>
                        <a href="tel:+73012206320" class="phone">+7 3012 206320</a>
                        <a href="tel:+73012392848" class="phone">+7 3012 392848</a>
                        <a href="tel:+73012392868" class="phone">+7 3012 392868</a>
                    </div>
                    <a href="tel:" class="action">Позвонить</a>
                </div>
                <div class="footer__item">
                    <div class="icon"><i class="fa fa-envelope"></i></div>
                    <div class="height_control">
                        <div class="top">Наш Email</div>
                        <div class="text">Почта для заявок и предложений сотрудничества</div>
                        <div class="email">thermoblock@mail.ru</div>
                        <div class="email"></div>
                    </div>
                    <a href="index.html#" class="action">Написать</a>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="col">
                <div class="text"></div>
                <div class="text">+7 3012 206320</div>
                <div class="text">thermoblock@mail.ru</div>
                <div class="text"></div>
            </div>
            <div class="col-lg-4">
                <a data-fancybox="" data-type="iframe" data-src="http://thermoblock.ibb.su/obrabotka-personalnyix-dannyix" href="javascript:;">Политика
                    конфиденциальности</a>
            </div>
            <div class="col-lg-4 col-12">
                <div class="amo-web">
                    <div class="bw">
                        <a title="Создание сайтов в Улан-Удэ" href="index.html#" class="bw_logo animated fliz">
                            <img width="60" height="60" title="Создание сайтов в Улан-Удэ" alt="Создание сайтов в Улан-Удэ" src="logoamoweb-nm.png">
                        </a>
                        <p>
                            <a href="index.html#" title="Создание сайтов">Создание сайтов</a><br>
                            <a href="index.html#" title="Продвижение сайтов">Продвижение сайтов</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" defer>
        btn_left = document.getElementById('left')
        btn_right = document.getElementById('right')
        btn_left.addEventListener('click', function() {
            document.querySelector('.projects__cards').scrollLeft -= 300;
        })
        btn_right.addEventListener('click', function() {
            document.querySelector('.projects__cards').scrollLeft += 300;
        })
        const anchors = document.querySelectorAll('.menu__link')
        for (let anchor of anchors ) {
            anchor.addEventListener('click', function(event) {
                <!-- event.preventDefault() -->
                anchors.forEach((item) => {
                    item.classList.remove("active")
                })
                this.classList.add('active')
            })
        }
        /* window.addEventListener("scroll", (event) => {
            let scroll = this.scrollY;
            console.log(scroll)
        }); */
        const smoothLinks = document.querySelectorAll('a[href^="#"]');
        for (let smoothLink of smoothLinks) {
            smoothLink.addEventListener('click', function (e) {
                e.preventDefault();
                const id = smoothLink.getAttribute('href');

                document.querySelector(id).scrollIntoView({
                    behavior: 'smooth',
                    block: 'start'
                });
            });
        };
            
        window.addEventListener('scroll', () => {
            let scrollDistance = window.scrollY;
            if (window.innerWidth > 768) {
                document.querySelectorAll('section').forEach((el, i) => {
                    if (el.offsetTop - document.querySelector('nav').clientHeight - 90 <= scrollDistance) {
                        console.log(el, i, el.offsetTop, scrollDistance, document.querySelector('nav').clientHeight)
                        document.querySelectorAll('.mainnav__link').forEach((item) => {
                            if (item.classList.contains('active')) {
                                item.classList.remove('active');
                            }
                        });
        
                        document.querySelectorAll('.mainnav__link')[i+1].classList.add('active');
                    }
                });
            }
            if (document.body.scrollTop > 26 || document.documentElement.scrollTop > 26) {
                document.getElementById("mainmenu").style.top = "0";
            } else {
                document.getElementById("mainmenu").style.top = "-50px";
            }
        });
        
        
        
    </script>
  </body>
</html>
